/* ################################################## */
/* ########### Global classes / overrides ########### */
/* ################################################## */
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

p {
  font-size: 18px;
  line-height: 1.5;
  padding: 15px 0;
}

html, body {
  height: 100%;
  font-family: 'Lato', sans-serif;
}

/* Fonts, classes are so I can reuse the styles on a variety of elements */
.merriweather { font-family: 'Merriweather', serif; }
      .oswald { font-family: 'Oswald', sans-serif; }
        .lato { font-family: 'Lato', sans-serif; }

/* Colors */
/* Dark yellow: #f2ff00 */
/* Lighter yellow: #ffd900 */
/* Light gray: #adadad */
/* Medium gray: #878787 */

/* Background Image */
/* https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/coworking.jpg */



.site-header {
  display: flex;
  background-color: black;
  border-bottom-width: 5px;
  border-bottom-color: #f2ff00;
  border-bottom-style: solid;
  padding: 10px 20px 5px 20px;
  justify-content: space-between;
  /* padding-left: 20px; */
}

.site-header-logo h1 a {
  color: #f2ff00;
  text-decoration-color: #f2ff00;
  text-decoration-line: none;
  text-decoration-style: solid;
  table-layout: fixed;
  font-size: 32px;
  font-family: 'Merriweather', serif;
}

.site-header-nav ul {
  display: flex;
  color: white;
  list-style: none;
  text-decoration: none;
  font-size: 20px;
  gap: 15px;
}

.site-header-nav-main {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

.site-header-nav-item {
  font-family: 'Lato', sans-serif;
}

.banner {
  font-family: 'Lato', sans-serif;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  background-color: #adadad;
}

.banner p {
  font-size: 28px;
}

.strikeout {
  text-decoration: line-through;
}

.underline {
  border-bottom: 3px solid #f2ff00;
}

.startup-hero {
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/coworking.jpg') center center no-repeat;
  min-height: 60%;
  background-size: cover;
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.startup-hero-box {
  box-sizing: content-box;
  display: block;
  float: none;
  background-color: rgba(255,255,255,0.9);
  margin: 25px 25px 25px 0;
  width: 380px;
  height: 230px;
  padding: 4%;
  font-family: 'Lato', sans-serif;
}

/* change Meet your Match style? */
.startup-hero-box h2 { 
  font-weight: bold;
}

.startup-hero-box p {
  font-size: 18px;
}

.profile-button {
  background-color: #f2ff00;
  text-decoration: none;
  display: block;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 2px solid #ffd900;
  font-size: 24px;
  padding: 10px 30px;
  font-family: 'Oswald', sans-serif;
  color: black;
}

.profile-button:hover {
  background: #ffd900;
}

.bottom-three {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  padding: 15px;
}

.bottom-1 {
  /* border-right: solid #adadad; */
  border-right: 1px solid lightgray;
  margin: 10px 0;
  padding: 15px;
}

.bottom-2 {
  /* border-right: solid #adadad; */
  border-right: 1px solid lightgray;
  margin: 10px 0;
  padding: 15px;
}

.bottom-3 {
  /* border-right: solid #adadad; */
  /* border-right: 1px solid lightgray; */
  margin: 10px 0;
  padding: 15px;
}

.bottom-three h1 {
  font-family: 'Merriweather', serif;
  font-size: 24px;
  /* padding: 15px; */
  /* padding-bottom: 15px; */
}



.bottom-three p {
  /* padding: 15px; */
}

.bottom-button {
  background-color: rgb(173, 173, 173);
  border-bottom-color: rgb(135, 135, 135);
  text-decoration: none;
  display: block;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 2px solid #878787;
  font-size: 24px;
  padding: 10px 30px;
  font-family: 'Oswald', sans-serif;
  color: black;
  border-radius: 3px;
}

.bottom-button:hover {
  background: #878787;
}

.site-footer {
  background-color: black;
  padding: 15px 25px;
  color: white;
}