
.exerciseFooter, .exerciseMain {
    margin: 0px 10px 10px 10px;
}

.exerciseHeader {
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
    flex-wrap: wrap;
}

.exerciseHeaderLogo {
    width: 200px;
    height: 80px;
    margin-top: 10px;
    margin-left: 10px;
}

.exerciseHeaderNav {
    display: block;
}

.exerciseHeaderNav ul {
    display: flex;
    list-style: none;
    padding: 0px;
    gap: 10px;
    margin-left: 10px;
    /* width: 300px; */
}

.exerciseHeaderNav ul li {


}


/* Main */

.exerciseMain {

}

.exerciseMainLeftNav {


}

.exerciseMainContent {


}

.exerciseMainContent > * {
    margin: 0;
}

.exerciseMainContentBanner {

}

.exerciseMainContentSubBanner {

}

.exerciseMainContentBlock {

}